{% from "macro/formhelpers.html" import render_field %}

{% extends 'base.html'%}

{% block title %}
Authorization
{% endblock %}

{% block body %}
<h1>Authorization</h1>
    {% if errors %}
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST">
        {{ form.csrf_token }}
        {% for field in ["email", "password"] %}
            {{ render_field(form[field]) }}
        {% endfor %}
        {{ form.submit(class="btn btn-primary mb-3") }}
        <a class="btn btn-primary mb-3" href="{{ url_for('authBlueprint.register') }}" role="button">Регистрация</a>
    </form>
{% endblock %}