{% from "macro/formhelpers.html" import render_field %}

{% extends 'base.html'%}

{% block title %}
    Регистрация
{% endblock %}

{% block body %}
    {% if errors %}
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST">
        {{ form.csrf_token }}
        {% for field in ["first_name", "last_name", "email", "password", "confirm_password"] %}
            {{ render_field(form[field]) }}
        {% endfor %}
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="staffCheck" name="is_staff">
            <label class="form-check-label" for="staffCheck">{{ form.is_staff.label }}</label>
          </div>
        {{ form.submit(class="btn btn-primary mb-3") }}
    </form>
{% endblock %}