{% from "macro/refactorDate.html" import refactorDate %}

{% extends 'base.html'%}

{% block title %}
    Article {{ article.id }}
{% endblock %}

{% block body %}
    <div class="row">
        <h1>{{article.title}}</h1>
    </div>
    <div class="row">
        <div class="col-md 12">{{article.text}}</div>
    </div>
    <div class="row">
        <div class="col 6">
            <div><small>Автор:
                <a href="{{ url_for('userBlueprint.get_user',pk=article.author_id)}}">{{article.author.user.first_name}} {{article.author.user.last_name}}
                </a></small></div>
            <div><small class="text-muted">Дата создания: {{refactorDate(article.created_at)}}</small></div>
            <div><small class="text-muted">Дата изменнения: {{refactorDate(article.updated_at)}}</small></div>
        </div>
        <div class="col 6">
            {% if article.tags %}
                <div><small>Список тегов:</small></div>
                {% for tag in article.tags %}
                    <row>
                        <a  href="{{ url_for('articleBlueprint.article_by_tag',tag_name=tag.name)}}">
                            <span class="badge text-bg-primary">{{tag.name}}</span>
                        </a>
                    </row>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}