{% from "macro/refactorDate.html" import refactorDate %}

{% extends 'base.html'%}

{% block title %}
    Список статей
{% endblock %}

{% block body%}
<h1>{% if tag %} Статьи с тегом <span class="badge text-bg-primary">{{ tag }}</span> {% else %} Список статей{% endif %}</h1>
<div class="row row-cols-md-3 row-cols-xs-1 row-cols-lg-4 row-cols-xl-5">
        {% for article in articles %}
            <div class="card m-2">
                  <div class="card-body">
                    <h5 class="card-title">{{article.title}}</h5>
                    <p class="card-text">Дата создания: {{refactorDate(article.created_at)}}</p>
                    <p class="card-text">
                        Автор: <a href="{{ url_for('userBlueprint.get_user', pk=article.author.id) }}">{{article.author}}</a>
                    </p>
                    <p class="card-text">
                          {% if article.tags %}
                            Теги:
                                {% for tag in article.tags %}
                                                <a href="{{ url_for('articleBlueprint.article_by_tag',tag_name=tag.name)}}" class=" text-decoration-none badge text-bg-primary"><small>{{tag.name}}</small></a>
                                {% endfor %}
                            {% endif %}
                    </p>
                    <a href="{{ url_for('articleBlueprint.article_current', pk=article.id) }}" class="btn btn-success">Прочитать</a>
                  </div>
            </div>
        {%endfor%}
</div>
{% endblock %}